@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
h1, div {
    font-family: 'Comfortaa', serif;
}

body {
    background: url(../img/background-image.jpg) no-repeat fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div {
    flex: 1 0 auto;
}

header {
    padding: 1px 10px;
    border-radius: 15px;
    font-family: Cochin, serif;
    font-size: large;
}

footer {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 100%;
    height: 100px;
}

button {
    width: 170px;
    height: 25px;
    border-radius: 10px;
    background: #e2edf8;
    border-color: skyblue;
    margin-bottom: 10px;
    margin-left: 8px;
}

textarea {
    border-color: skyblue;
    border-radius: 5px;
}

.reg {
    margin-left: 20px;
    margin-top: 20px;
    width: 190px;
    height: 20px;
    border-radius: 10px;
    background: #e2edf8;
    border-color: #66aeee;
}

.auth {
    margin-left: 20px;
    width: 190px;
    height: 20px;
    border-radius: 10px;
    background: #e2edf8;
    border-color: #66aeee;
}

.login {
    margin-left: 30px;
    width: 130px;
    height: 25px;
    border-radius: 7px;
    margin-top: 7px;
}

.pass {
    width: 130px;
    height: 25px;
    border-radius: 7px;
    margin-top: 7px;
}

.submit {
    border-radius: 7px;
    border: 1px;
    background: #e2edf8;
    border-left: 10px;
    height: 25px;
    width: 60px;
    margin-right: 20px;
}

.newsMain {
    float: left;
    width: 45%;
    margin: 5px 20px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    background: skyblue;
    opacity: 0.6;
}

.newsMain:hover {
    background: #75e7d2;
    transition: 0.4s ease-in-out;
}

.per_input {
    margin: 5px 20px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}

div.field {
    text-align: right;
}

label.field {
    margin-top: 8px;
}

span {
    text-align: right;
}

/* Добавление подчеркивания при наведении */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}